@import url('https://fonts.googleapis.com/css?family=Courgette|Quattrocento+Sans|Rammetto+One');


body {
    margin-top: 0;
}
h1, h2, h3, h4 {
    font-family: Rammetto One, Georgia, Padauk;
}
p {
    font-family: Quattrocento Sans, SansSerif, "Phetsarath OT";
}
body .imageBear {
    height: 180px;
    width: 171px;
}
body .bearBig {
    height: 736px;
    width: 736px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Courgette, SansSerif, TakaoPGothic;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: #C0C0C0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    color: #f7f7f7;
}
.coName h1 {
    font-family: Courgette, SansSerif, TakaoPGothic;
    color: rgb(245,60,97);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-bottom: 44px;
}
.caption a {
    color: black;
    text-decoration: none;
}
.caption a:hover {
    color: #0f0f0f;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}
.thumbnail img {
    opacity: 0.8;
}
.thumbnail img:hover {
    opacity: 1;
}
.panel {
    margin-top: 15px;
    margin-bottom: 0;
}
.panel p {
    color: #888888;
    padding-top: 6px;
}






